<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258829217477-oqvqb82cp7rm0g1lojrdi0rcie4p3d1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258829217477-oqvqb82cp7rm0g1lojrdi0rcie4p3d1e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>258829217477-ob1bak60ag0svgbc7creqf7l8bts1a8a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9432FblY3kmofBh-NN9F1AM26ZkykMw0</string>
	<key>GCM_SENDER_ID</key>
	<string>258829217477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jenspederm.guesstheprompt</string>
	<key>PROJECT_ID</key>
	<string>guess-the-prompt</string>
	<key>STORAGE_BUCKET</key>
	<string>guess-the-prompt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258829217477:ios:b67ebca09c00cfc1218aac</string>
</dict>
</plist>